.inputBox{
  position: relative;
  height: 80px;
}
.inputLable{
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 1;
  background-color: white;
  padding: 0px 2px;
  color :#6b6b6b
}

.input{
  position: absolute;
  padding:4px 8px 4px 16px;
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid;
  height: 52px;
  font-size: 16px;
  border: 1px solid #a88ef2;
}

/* /////////logout css */
.logoutContainer{
  background: white;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #DCE9F5;
  padding: 5px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
    position: fixed;
    top: 0;
}

/* ///btn */
.logInbtn{
  background: #7c57f6;
  color: white;
  width: 100%;
  border-radius: 18px;
  height: 35px;
  font-weight: 600;
  margin-top: 16px;
}
.logInbtn:hover {
  background-color: #a38af6;
}